cb_host: couchbase://adb-cb1.gsd.esrl.noaa.gov
cb_host0: adb-cb2.gsd.esrl.noaa.gov,adb-cb3.gsd.esrl.noaa.gov,adb-cb4.gsd.esrl.noaa.gov
cb_user: avid
cb_password: ***
cb_bucket: metdata
cb_scope: _default
cb_collection: MET
